img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-radius: 8px;
}

#title {
    margin-bottom: 0;
    margin-top: 0;
}

#year {
    margin-top: 0;
    margin-bottom: 1%;
}






  